<div style="width: fit-content; background: #f0f4f6;  border-radius: 24px; padding: 8px 12px; margin: 10px 0; ">
  <span class="material-icons md-18" style="vertical-align: middle; margin-right: 4px; color: #666;">event</span>
  <p style="color:rgb(22, 18, 21); margin: 0; font-size: 12px; font-weight: 600; font-family: 'Roboto', Arial, sans-serif; display: inline;">24/10/2025</p>
</div>
<div style="display: flex; justify-content: space-between; align-items: center; gap: 10px; background: #f0f4f6; border: 1px solid #e9ecef01; border-radius: 24px; padding: 16px; margin: 10px 0; padding-left: 24px;">
  <div style="display: flex; justify-content: space-between; align-items: center; gap: 10px;">
    <h2 style="color:rgb(22, 18, 21); margin: 0; font-family: 'Roboto', Arial, sans-serif; font-weight: 600;">J2</h2>
    <div style="display: flex; justify-content: space-between; align-items: start;  flex-direction: column;"> 
    <p style="color: #090909c7; line-height: 1.2; font-size: 12px; margin: 0; margin-left: 4px; font-weight: 700; font-family: 'Roboto', Arial, sans-serif;">
      <span class="material-icons md-18" style="vertical-align: middle; margin-right: 4px; font-size: 14px;">schedule</span>
      8h00 - 16h00
    </p>
    <p style="color: #000000af; line-height: 1.2; font-size: 12px; margin: 0; margin-left: 4px; font-family: 'Roboto', Arial, sans-serif; font-weight: 400;">
     
      Dans équipe 1
    </p>
  </div>
  </div>
 


</div>
<div style="display: flex; justify-content: space-between; align-items: center; gap: 10px; background: #f0f4f600; border: 1px solid #e9ecef64; border-radius: 24px; padding: 16px; margin: 10px 0; padding-left: 24px;">
 <p>La police Roboto est maintenant intégrée dans tous vos templates d'email et s'affichera correctement dans la plupart des clients de messagerie modernes. Les clients qui ne supportent pas les polices web utiliseront Arial comme alternative.</p>


</div>