<table width="100%" cellpadding="0" cellspacing="0" role="presentation">

  <tr>
    <td align="left">
      {{> hello }}
    </td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">
      <h3 style="color:rgb(22, 18, 21); margin: 0; font-family: 'Roboto', Arial, sans-serif; font-weight: 600;">
        <!-- <span class="material-icons md-18" style="vertical-align: middle; margin-right: 8px; color: #28a745;">check_circle</span> -->
        Inscription approuvée
      </h3>
    </td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>

  
  <!-- Approval Details Card -->
  <tr>
    <td>
      <div style="background: #d4edda; border: 1px solid #c3e6cb; border-radius: 12px; padding: 16px; margin: 10px 0;">
        <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 400;">
          Excellente nouvelle ! Votre inscription a été approuvée par votre administrateur.
        </p>
      </div>
    </td>
  </tr>
  
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">
      <p style="font-family: 'Roboto', Arial, sans-serif; font-weight: 400;">
        Vous pouvez maintenant vous connecter à votre compte.
      </p>
    </td>
  </tr>
  
  <tr>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">
      {{> button}}
    </td>
  </tr>
</table>
